:root {
    --background-color: #F5F5F5;
    --primary-color: #FF6F61;
    --secondary-color: #00C2CB;
    --text-color: #222222;
    --support-color: #FFC857;
    --highlight-color: #6A4C93;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

nav ul {
    background-color: var(--primary-color);
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--highlight-color);
}



body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    background-color: var(--primary-color);
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--highlight-color);
}


@media (max-width: 768px) {
    
    body {
        font-size: 16px; 
        text-align: center; 
    }

   
    nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul li {
        margin-bottom: 10px; 
    }

   
    main h1 {
        font-size: 24px; 
    }

    main p {
        font-size: 14px; 
    }
}


.pagina-inscricao {
    background-color: #34a853;
}

.pagina-inscricao h1{
    color: #5f6368;
    text-align: center;
}

.team-image {
    flex: 1;
    height: 300px; 
    width: 100%; 
    object-fit: cover; 
    border-right: 1px solid #ddd; 
    display: block; 
}
